<script>
import { initFlowbite } from 'flowbite'
import axios from 'axios'

export default {
  data() {
    return {
      lastScrollPosition: 0,
      showNavbar: true,
      data_suitmedia: [],
      pagination: 10,
      sort_by: "-published_at",
      currentPage: 1,
      totalItems: 0,
      totalPages: 1,
    }
  },

  async mounted() {
    this.fetchData();

    initFlowbite();
    initAccordions();
    initCarousels();
    initCollapses();
    initDials();
    initDismisses();
    initDrawers();
    initDropdowns();
    initModals();
    initPopovers();
    initTabs();
    initTooltips();
    window.addEventListener('scroll', this.handleScroll);
  },
  
  watch: {
    pagination() {
      this.fetchData();
    },
    sort_by() {
      this.fetchData();
    },
    currentPage() {
      this.fetchData();
    }
  },
  
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll);
  },

  methods: {
    async fetchData() {
      try {
        const response = await axios.get(`https://suitmedia-backend.suitdev.com/api/ideas?page[number]=${this.currentPage}&page[size]=${this.pagination}&append[]=small_image&append[]=medium_image&sort=${this.sort_by}`);
        this.data_suitmedia = response.data;
        this.totalItems = response.data.meta.total; // Assuming your API provides total items count
        this.totalPages = Math.ceil(this.totalItems / this.pagination);
      } catch (error) {
        console.error(error);
      }
    },
    handleScroll() {
      const currentScrollPosition = window.pageYOffset;
      if (currentScrollPosition > this.lastScrollPosition) {
        this.showNavbar = false;
      } else {
        this.showNavbar = true;
      }
      this.lastScrollPosition = currentScrollPosition <= 0 ? 0 : currentScrollPosition;
    },
    changePage(page) {
      if (page >= 1 && page <= this.totalPages) {
        this.currentPage = page;
      }
    },
    nextPage() {
      if (this.currentPage < this.totalPages) {
        this.currentPage++;
      }
    },
    prevPage() {
      if (this.currentPage > 1) {
        this.currentPage--;
      }
    },
    generatePageNumbers() {
      const pages = [];
      const startPage = Math.max(1, this.currentPage - 2);
      const endPage = Math.min(this.totalPages, this.currentPage + 2);
      
      for (let i = startPage; i <= endPage; i++) {
        pages.push(i);
      }
      
      if (startPage > 1) {
        pages.unshift('...');
        pages.unshift(1);
      }
      
      if (endPage < this.totalPages) {
        pages.push('...');
        pages.push(this.totalPages);
      }

      return pages;
    }
  }
}
</script>

<template>

  <!-- header -->
  <nav :class="{ 'hidden': !showNavbar, 'block': showNavbar }" class="bg-orange-500 border-gray-200 dark:bg-gray-900 fixed top-0 left-0 right-0 z-50 transition-transform duration-300 transform">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-black text-white">suitMedia</span>
      </a>

      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>

      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 borderrounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 text-white">
          <li>
            <a href="#" class="hover:border-b-4 border-white block py-2 px-3 text-white rounded md:bg-transparent md:p-0 dark:text-white" aria-current="page">Work</a>
          </li>
          <li>
            <a href="#" class="hover:border-b-4 border-white block py-2 px-3 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:p-0 md:dark:hover:bg-transparent">About</a>
          </li>
          <li>
            <a href="#" class="hover:border-b-4 border-white block py-2 px-3 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:p-0 md:dark:hover:bg-transparent">Services</a>
          </li>
          <li>
            <a href="#" class="hover:border-b-4 border-white block py-2 px-3 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:p-0 md:dark:hover:bg-transparent">Ideas</a>
          </li>
          <li>
            <a href="#" class="hover:border-b-4 border-white block py-2 px-3 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:p-0 md:dark:hover:bg-transparent">Careers</a>
          </li>
          <li>
            <a href="#" class="hover:border-b-4 border-white block py-2 px-3 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:p-0 md:dark:hover:bg-transparent">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- header -->

  <!-- banner -->
  <header>
    <div class="w-full h-[400px] relative overflow-hidden bg-header">
      <div class="absolute inset-0 bg-black bg-opacity-70 flex items-center justify-center">
        <div class="text-center text-white parallax-text">
          <h1 class="text-4xl font-bold">Ideas</h1>
          <p class="text-xl mt-2">Where all our great things begin</p>
        </div>
      </div>
    </div>
  </header>
  <!-- banner -->

  <section class="mt-7 mx-36">
    <!-- pagination -->
    <div class="">
      <div class="flex justify-between">
        <div class="">
          <p class="font-semibold">Showing 1-{{ pagination }} of {{ totalItems }}</p>
        </div>
        <div class="flex gap-4">
          <div class="flex items-center gap-2">
            <p class="font-semibold">Show per page:</p>
            <select v-model="pagination" id="underline_select" class="block py-2.5 px-0 text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
              <option selected>Choose</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
            </select>
          </div>
          <div class="flex items-center gap-2">
            <p class="font-semibold">Sort by:</p>
            <select v-model="sort_by" id="select_by" class="block py-2.5 px-0 text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
              <option selected>Choose</option>
              <option value="-published_at">Newest</option>
              <option value="published_at">Latest</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <!-- pagination -->

    <!-- card -->
    <div class="">
      <div class="grid grid-cols-4 place-items-center mt-10">
        <div v-for="item in data_suitmedia.data" :key="item.id" class="">
          <div class="w-[250px] bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img class="rounded-t-lg" :src="item.medium_image[0].url" alt="gambar" />
            <div class="p-5">
              <p>{{ item.published_at }}</p>
              <h5>{{ item.title }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- card -->

    <!-- bottom pagination -->
    <div class="flex justify-center my-10">
      <button @click="prevPage" :disabled="currentPage === 1" class="px-4 py-2 mx-1 bg-gray-200 text-gray-800 rounded disabled:opacity-50">Previous</button>
      <button v-for="page in generatePageNumbers()" :key="page" @click="changePage(page)" :class="{ 'bg-blue-500 text-white': currentPage === page, 'bg-gray-200 text-gray-800': currentPage !== page }" class="px-4 py-2 mx-1 rounded" :disabled="page === '...'">
        {{ page }}
      </button>
      <button @click="nextPage" :disabled="currentPage === totalPages" class="px-4 py-2 mx-1 bg-gray-200 text-gray-800 rounded disabled:opacity-50">Next</button>
    </div>
    <!-- bottom pagination -->
  </section>

</template>


<style scoped>
    .bg-header {
    background-image: url('@/assets/img/ideas_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
